<h1>Rate Job Preference</h1>

<% careers = @array_careers %>
    <%= form_tag save_rating_path, method: :post do %>
        <% careers.each do |career| %>
        <%= career %><br>
        <label>
            <%= radio_button_tag "career_choice_#{career}", "like", false, id: "#{career}_yes" %>
            <%= label_tag "#{career}_yes", "Yes" %>
        </label>
    
        <label>
            <%= radio_button_tag "career_choice_#{career}", "dislike", false, id: "#{career}_no" %>
            <%= label_tag "#{career}_no", "No" %>
        </label>
    
        <br>
        <% end %>
    
        <%= submit_tag "Save" %>
    <% end %>